@use "../base/variables";
@import "../abstracts/responsive";

.card {
  background-color: variables.$white-color;
  border: 1px solid #808080;
  border-radius: 8px;
  min-width: 230px;
  width: 23%;
  height: 450px;
  margin: 8px 8px;
  box-shadow: 3px 3px 20px variables.$card-box-shadow-color;
  &:hover {
    box-shadow: 10px 10px 20px variables.$card-box-shadow-color;
  }

  @include xs {
    width: 95%;
  }

  @include sm {
    width: 46%;
  }

  @include md {
    width: 47%;
  }

  @include lg {
    width: 31%;
  }

  @include xl {
    width: 23%;
  }

  @include xxl {
    width: 23%;
  }
}

.badge__stock {
  padding: 5px;
  background-color: variables.$yellow-color;
  border: 1px solid variables.$yellow-color;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-top: 10px;
  margin: 0 2px;
  text-wrap: nowrap;
}

.delivery {
  padding: 5px;
  color: variables.$success-color;
  font-weight: bolder;
  font-size: 0.8rem;
  margin-top: 10px;
  text-wrap: nowrap;
  animation: fade-animation 1s infinite;
}

.header__card {
  height: 50%;
  border-bottom: 1px solid #d5d5d5;
  padding: 10px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
  }
}

.body__card {
  height: 30%;
  background-color: variables.$white-color;
  p {
    padding: 5px 10px;
  }
}

.titulo__card {
  color: variables.$text-title-color;
  text-decoration: none;
  font-size: 1.2rem;
  text-align: left;
  font-family: variables.$font-family;
  padding: 10px 10px;
  font-weight: bold;
}

.desc__card {
  color: variables.$text-title-color;
  text-decoration: none;
  font-size: 1rem;
  font-family: variables.$font-family;
  padding: 10px 10px;
  font-weight: 400;
  line-height: 1.4rem;
}

.card__price {
  color: variables.$text-title-color;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: right;
  font-family: variables.$font-family;
  padding: 10px 10px;
  font-weight: 800;
}

.footer__card {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #555;
}
