@use "../base/variables";

.carrito {
  min-height: inherit;
  background-color: variables.$yellow-color;
  display: flex;
  align-items: center;
  &:hover {
    background-color: #eeda00;
  }

  img{
      height: 30px;
      width: 30px;
      padding: 0 10px;
    //   &:hover{
    //       animation: cambioColor 1.5s ;
    //   }
  }
}

.carrito__image {
  position: relative;
  &:hover{
    animation: cambioColor 1.5s ;
}
}
