@use '../base/variables';

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;

    i{
        font-size: 2rem;
        &:hover{
            color:variables.$black-color;
        }
    }
}
