.jc__c {
  justify-content: center !important;
}

.ai__fs {
  align-items: flex-start !important;
}

.ai__c {
  text-align: center !important;
  align-items: center !important;
}

.jc__sb{
  justify-content: space-around;
}

.d__flex {
  display: flex !important;
}

.d__block {
  display: block !important;
}

.d__none {
  display: none !important;
}

.w__auto {
  width: auto !important;
}

.w__100 {
  width: 100% !important;
}

.h__300 {
  height: 300px;
}

.f__column {
  flex-direction: column;
}

.f__row {
  flex-direction: row;
}

.txt__center {
  text-align: center !important;
}

.flex__containter {
  display: flex;
  align-items: flex-end;
}

.hidden {
  opacity: 0 !important;
}

.fs__3 {
  font-size: 3rem !important;
}

.ta__resize--none {
  resize: none !important;
}

.z-index-10000 {
  z-index: 10000;
}

.link__decoration {
  color: white;
  text-decoration: none;
}

.m__height{
    min-height: 150px;
}

.m__lr{
    margin: 0 5px;
}

.p__lr{
  padding: 0 10px;
}

.z__behind{
    z-index: 0;
}

.b__bottom--grey{
  border-bottom: 1px solid grey
}

.w__130{
  width: 130px;;
}

.text__align--right{
  text-align: right;
}

.c__red{
  color: red;
}

.p__relative{
  position: relative;
}

